/* css styles */
p,
ul,
ol {
  text-align: justify;
  line-height: 1.6;
}

pre {
  border-radius: 5px;
  padding: 1em;
}

.listing-reading-time {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.card {
  border: 2px solid #999999;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.card-title {
  font-weight: 700;
  color: #333333;
}

.card-body {
  position: relative;
}
